@use 'reset';

// VARIABLES

$GreyScale1: #BFBBBF;
$GreyScale2: #807D80;
$GreyScale3: #FFFBFF;
$GreyScale4: #FFFAFF;
$GreyScale5: #E6E1E6;
$charcoal: #36454F;
$charcoal2: #29343b;

$titleFont: 'Cabin';
$regularFont: 'Montserrat';

body{
    background-color: salmon;
    display: flex;
    flex-direction: column;
    animation: fondo 700ms infinite;
}

@keyframes fondo {
    10%{
        background-color: red;
    }
    20%{
        background-color: greenyellow;
    }
    30%{
        background-color: blueviolet;
    }
    40%{
        background-color: seashell;
    }
    50%{
        background-color: deeppink;
    }
    60%{
        background-color: blue;
    }
    70%{
        background-color: orangered;
    }
    80%{
        background-color: fuchsia;
    }
    90%{
        background-color: aqua;
    }
    100%{
        background-color: salmon;
    }
}

.header{
    width: 80%;
    height: auto;
    align-self: center;
    margin-top: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #29343b;
    animation-name: giro;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes giro {
    from{
       transform: rotateZ(0deg);
    }
       to   
    {
       transform: rotateZ(360deg);
    }   
   }

.header__title{
    font-family: 'Montserrat';
    font-size: 100px;
    line-height: 100px;
    text-shadow: 1px 1px 1px #29343b;
}

.images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.img__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 600px;
    padding: 20px;
}

.img{
    box-shadow: 5px 5px 10px $charcoal;
}